
header {
    padding: 1rem 4rem;
    animation: TransitionFromTop 1s;
}
.header-content {
    display: flex;
    padding: 0 2rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    border-bottom: 2px solid white;
    color: white;
}
.header-content a {
    text-decoration: none;
    color: white;
}
.header-content p {
    font-size: 1.4rem;
}

.header-option {
    display: flex;
}

.header-option {
    list-style: none;
}
.header-option li {
    margin: 0 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

